$color-red: #f00;
$color-black: #000;
$color-light-blue: #17acee;
$color-dark: #02131a;
$color-dark-blue: #064966;
$color-light-gray: #ccc;
$color-gray: #d6d6d6;
$color-dark-gray: #bbb;
$color-white: #fff;
$color-lighter-blue: #1978ce;
$color-dark-gray: #333;
$color-lighter-gray: #fafafa;
$color-navy-blue: #11378f;

