$font-family-default: Arial, Helvetica, sans-serif;
$font-family-fancy: 'Comic Sans MS';

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$line-height-1-2: 1.2;
$line-height-1-4: 1.4;
