.custom-container {
	.footer {
		background: $color-dark-blue;
		height: 60px;
		padding: 0 20px;
	}

	.controls {
		padding-top: 5px;

		.play {
			width: 60px;

			img {
				cursor: pointer;
				width: 55px;
			}
		}

		.prev {
			margin: 12px 0 0 10px;
			width: 40px;

			img {
				cursor: pointer;
				width: 35px;
			}
		}


		.next {
			margin: 12px 0 0 10px;
			width: 40px;

			img {
				cursor: pointer;
				width: 35px;
			}
		}

		.seekbar {
			background: $color-white;
			height: 16px;
			margin: 21px 0px 0px 15px;
			overflow: hidden;
			width: 300px;
		}

		.progress {
			background: $color-lighter-blue;
			height: 16px;
			width: 20%;
			border-radius: 0;
		}

		.pagination {
			color: $color-white;
			font-weight: bold;
			height: 16px;
			margin: 22px 0 0 30px;
			width: 100px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

.footer-container {
	background: $color-dark-gray;
	padding-top: 10px;
	padding-bottom: 10px;
}
