.custom-container {
	background: $color-lighter-gray;
	border: 1px solid $color-dark;
	height: 560px;
	margin: 0 auto;
	position: relative;
	width: 960px;

	.title {
		background: $color-gray;
		color: $color-navy-blue;
		font-size: $font-size-14;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		text-transform: uppercase;
		vertical-align: middle;

		input {
			height: 30px;
			line-height: 1;
			vertical-align: middle;
			padding: 0 5px;
		}
	}

	.content {
		background: $color-dark-gray;
		height: 380px;
		padding: 20px;
	}


	.main-content {
		background: $color-white;
		border-radius: 5px;
		box-shadow: 0 0 5px $color-light-gray;
		height: 340px;
		overflow: auto;
		padding: 20px;
		width: 560px;

		p,
		li {
			color: $color-dark-gray;
			font-family: $font-family-default;
			font-size: $font-size-12;
			line-height: $line-height-1-4;
			margin-top: 15px;
		}
	}

	.right-section {
		background: $color-white;
		border-radius: 5px;
		box-shadow: 0 0 5px $color-light-gray;
		height: 340px;
		padding: 10px;
		width: 280px;
	}

	.transcript img {
		display: block;
		margin: 10px auto;
		max-height: 80%;
		max-width: 80%;

		&.preview-img {
			max-height: 100px;
		}
	}
}
